*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
    background-color: var(--background-color);
    color: var(--text-color-secondary);

    .app-container{
        display: grid;
        grid-template-columns: 3fr 4fr;
        gap: 1rem;
        padding: 1rem;
        min-height: 100vh;
    }
}
